{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load cache %}
{% load i18n %}

{% block content %}
        <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
            <input type="hidden" name="next" value="{{ redirect_to }}">
            {% get_current_language as LANGUAGE_CODE %}

            <select name="language" id="">
                {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

                {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} - {{ language.code }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="set">
        </form>
    {% if perms.news %}
        <h3>{% trans 'Здравствуйте' %} {{ user.username }}!</h3>
    {% else %}
        <h3>{% trans 'Здравствуйте Гость' %}!</h3>
    {% endif %}

    <h3>Все посты</h3>

    {% cache 30 menu %}
        {% if perms.news.add_post %}
        <a href="{% url 'news_create' %}"
           class="btn btn-secondary btn-sm">Добавить новость</a>
        {% endif %}
        {% if perms.news.add_post %}
        <a href="{% url 'articles_create' %}"
           class="btn btn-secondary btn-sm">Добавить статью</a>
        {% endif %}
    {% endcache %}

    <hr>

   {% if all_news %}
    <style type="text/css">
       TABLE {
        width: 1300px; /* Ширина таблицы */
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
       }
       TD, TH {
        padding: 3px; /* Поля вокруг содержимого таблицы */
        border: 2px solid black; /* Параметры рамки */
       }
    </style>

    <table>
        <tr>
            <td>{% trans 'Категория' %}</td>
            <td>{% trans 'Заголовок' %}</td>
            <td>{% trans 'Дата' %}</td>
            <td>{% trans 'Текст' %}</td>
            {% if perms.news.change_post or perms.news.delete_post %}
                <td>{% trans 'Действия' %}</td>
            {% endif %}

        </tr>

        {% for news in all_news %}
        <tr>
            <td>

                {% for cat in news.postCategory.all %}
                    <a href="{% url 'category_list' cat.id %}" >{{ cat.name }}</a>
                {% endfor %}

            </td>
            <td>{{ news.title }}</td>
            <td>{{ news.dateCreation }}</td>
            <td>{{ news.text|truncatewords:20|censor:"борьбу"|censor:"ограбили"|censor:"умерщвляли" }}</td>

            <td>
                {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=news.id %}">{% trans 'Изменить' %} /</a>
                {% endif %}
                {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' news.id %}">{% trans 'Удалить' %}</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>

   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
   {% endif %}

   {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}


{% endblock content %}